<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title> Login - CodeJava.net</title>
</head>
<body>
<form th:action="@{/loginUser}" method="post" style="max-width: 400px; margin: 0 auto;">
    <h2> Login - CodeJava.net</h2>

    <div th:if="${param.error}">
        <h4 style="color: red">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</h4>
    </div>

    <table>
        <tr>
            <td>Username: </td>
            <td><input type="text" name="username" required /></td>
        </tr>
        <tr>
            <td>Password: </td>
            <td><input type="password" name="password" required /></td>
        </tr>
        <tr><td>&nbsp;</td></tr>
        <tr>
            <td colspan="2" align="center"><input type="submit" value="Login" /></td>
        </tr>
    </table>
</form>
</body>
</html>
